<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Tua Refeição</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <a class="nav-link active" aria-current="page" href="#" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
          
          <a class="nav-link active" href="#" routerLink="menu" routerLinkActive="active-link" >Menu</a>
          
          <a class="nav-link active" href="#" routerLink="contact" routerLinkActive="active-link">Contacto</a>
          
          <a class="nav-link active" aria-disabled="true" routerLink="about" routerLinkActive="active-link">Sobre nós</a>
        </div>
      </div>
    </div>
  </nav>
