<div class="container mt-5 mb-5">
    <h1>Fale conosco</h1>
    <form class="col-lg-8">
        <div class="row">
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Primeiro nome">
            </div>
            <div class="col-lg-6 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="Último nome">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="number" class="form-control" placeholder="Número de telefone">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <input type="text" class="form-control" placeholder="A tua mensagem">
            </div>
            <div class="col-lg-12 mt-2 mb-2">
                <button class="btn btn-md btn-dark">Enviar</button>
            </div>
        </div>
    </form>
</div>