<div class="container mt-5 mb-5">
    <h1 class="text-center">Sobre nós</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ab voluptatibus reprehenderit, aut quia quasi. Odit sapiente eius, consectetur aperiam sit sint tempore quisquam, maxime quia, ducimus quaerat quis corrupti.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam praesentium ut rerum voluptates, dolores reiciendis ipsum, ratione fugit earum quasi deleniti eveniet, tempora perferendis nostrum a accusamus incidunt dolorem nesciunt.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto laboriosam ipsa magnam quis cumque provident aliquam vel. Ab excepturi ipsa et quas accusantium harum voluptate enim voluptates, deserunt iure exercitationem.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus rerum odit minus quia nobis, reiciendis reprehenderit laudantium ab quas earum vitae quis excepturi optio! Sapiente at cupiditate ullam cumque nam!
        <br>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit distinctio rerum aliquam modi illo neque ea, ab perspiciatis quibusdam, beatae at, ex hic nemo? Sit quasi illum beatae hic necessitatibus.
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur at culpa beatae debitis dolores, quam iste magni voluptatum nam cupiditate reiciendis, placeat est velit ipsum cum aut ducimus atque sit!
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid sapiente ullam architecto in vitae animi reprehenderit eveniet, libero veniam, dolor autem nesciunt molestiae aspernatur earum officiis accusamus nemo tempore placeat.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis accusamus labore voluptates? Quis sapiente quod unde autem in dolore quidem nisi quasi obcaecati id ratione omnis, reiciendis illum nihil labore.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, vel quam maiores et at ipsam dolore. Veritatis, eum molestiae minima distinctio dicta consectetur rerum odit quam voluptas accusantium unde possimus.
    </p>
</div>