/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#3FC060;
    --secondary-color:#162328;
}
body{
    font-family: Nunito, Arial, Helvetica, sans-serif;
    height: 100vh;
}